<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<th:block th:replace="partials/header :: header"></th:block>
<body>
<nav th:replace="partials/navbar :: bootStrap_nav" ></nav>
<div class="container">
    <form action="/posts/create" method="post" th:object="post">
        <h5>Please fill out the form below!</h5>
        <br>


        <label for="title">Title:</label>
        <input id="title" type="text" th:field="*{title}">

        <br>

        <label for="body">Body:</label>
        <input id="body" type="text" th:field="*{body}">

        <br>


        <input type="submit">
    </form>
</div>



<footer th:replace="partials/footer :: bootStrap_footer" ></footer>
</body>
</html>