
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Posts Display</title>


</head>
<body>
<nav th:replace="partials/navbar :: navbar" ></nav>


<h2 th:text="${id.title}"></h2>

<p th:text="${id.body}"></p>

<p>User email: <span th:text="${id.user.email}"></span></p>

<div th:each="image : ${id.images}">
    <img th:src="${images.path}" th:alt="${images.description}">
</div>


<footer th:replace="partials/footer :: footer" ></footer>
</body>
</html>