<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Partials</title>
</head>
<body>

<footer th:fragment="footer">2021</footer>

<footer class="footer-page font-small special-color-dark pt-4">
    <div class="container">
        <div class="row">
            <form class="form-inline">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search here">
            </form>
        </div>
    </div>
</footer>

</body>
</html>