<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h1>Create an Account</h1>
<hr>
<br>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}"/>

    <label for="email">Email</label>
    <input id="email" th:field="*{email}"/>

    <label for="password">Password</label>
    <input id="password" th:field="*{password}"/>
<br><br>
    <input value="Sign Me Up" type="submit">
</form>

</body>
</html>